<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<h1>Предсказание оттока клиента, исходя из его потребительской истории</h1>
		
	<form action="{% url 'result' %}">
	
	{% csrf_token %}
	
	1. К какому полу относится человек: 1 - Мужчина, 0 - Женщина <input type="text" required name="Гендер человека"> <br> <br>
	2. Является ли человек пенсионером (больше 65 лет): 1 - Да, 0 - Нет <input type="text" required name="Пенсионер"> <br> <br>
	3. Есть ли у человека жена/муж: 1 - Да, 0 - Нет <input type="text" required name="Женат/замужем"> <br> <br>
	4. Есть ли у человека дети: 1 - Да, 0 - Нет <input type="text" required name="Есть дети"> <br> <br>
	5. Длительность контракта человека в месяцах <input type="text" required name="Длительность контракта (месяцы)"> <br> <br>
	6. Есть ли у человека подписка на домашний телефон компании: 1 - Да, 0 - Нет <input type="text" required name="Подписка на домашний телефон компании"> <br> <br>
	7. Есть ли у человека подписка на несколько телефонных линий компании: 1 - Да, 0 - Нет, 2 - Сервис не поддерживается <input type="text" required name="Подписка на несколько телефонных линий компании"> <br> <br>
	8. Какой интернет-услугой компании пользуется человек: 1 - Никакой, 2 - DSL, 3 - Fiber Optic <input type="text" required name="Интернет услуга компании"> <br> <br>
	9. Есть ли у человека подписка на онлайн безопасность: 1 - Да, 0 - Нет, 2 - Сервис не поддерживается <input type="text" required name="Подписка на онлайн безопасность"> <br> <br>
	10. Есть ли у человека подписка на резервное копирование: 1 - Да, 0 - Нет, 2 - Сервис не поддерживается <input type="text" required name="Подписка на резервное копирование"> <br> <br>
	11. Есть ли у человека подписка на дополнительную онлайн безопасность: 1 - Да, 0 - Нет, 2 - Сервис не поддерживается <input type="text" required name="Подписка на дополнительную онлайн безопасность"> <br> <br>
	12. Есть ли у человека подписка на техническую поддержку: 1 - Да, 0 - Нет, 2 - Сервис не поддерживается <input type="text" required name="Подписка на техническую поддержку"> <br> <br>
	13. Есть ли у человека подписка на потоковую передачу телевезионных программ: 1 - Да, 0 - Нет, 2 - Сервис не поддерживается <input type="text" required name="Подписка на потоковую передачу телевезионных программ"> <br> <br>
	14. Есть ли у человека подписка на трансляцию фильмов: 1 - Да, 0 - Нет, 2 - Сервис не поддерживается <input type="text" required name="Подписка на трансляцию фильмов"> <br> <br>
	15. На какой срок человек подписал контракт: 1 - Несколько месяцев, 2 - Год, 3 - Два года <input type="text" required name="Тип контракта"> <br> <br>
	16. Есть ли у человека подписка на онлайн оплату: 1 - Да, 0 - Нет <input type="text" required name="Подписка на онлайн оплату"> <br> <br>
	17. Каким способом оплаты интернета пользуется человек: 1 - Электронный чек, 2 - Чек по почте, 3 - Перевод из банка, 4 - Кредитная карта <input type="text" required name="Способ оплаты интернета"> <br> <br>
	18. Ежемесячные траты человека на пользование интернетом в долларах: <input type="text" required name="Ежемесячные траты на пользование интернетом"> <br> <br>
	19. Общие траты за весь период пользования интернетом в долларах: <input type="text" required name="Общие траты за весь период пользования интернетом"> <br> <br>
	
	
	
	
	<input type="submit" name="" value="submit">
	
	</form>
	
	</body>
</html>